# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel

.tmp-home-frames/
녹음*.mp4
/18253602-hd_1920_1080_60fps.mp4
